@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Pacifico', cursive;
		}

		.loader{
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			background-image: url(img/cbg.jpg);
			background-size: cover;
		}

		.loader a{
			text-decoration: none;
		}

		.loader h2{
			position: relative;
			font-size: 14vh;
			color:white;
			-webkit-text-stroke: 0.3vw linear-gradient(186deg, rgba(0,10,36,1) 0%, rgba(93,105,190,1) 57%, rgba(200,159,235,1) 100%);;
			text-transform: uppercase;
		}

		.loader h2::before{
			content: attr(data-text);
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			color: black;
			-webkit-text-stroke : 0.2vw white;
			/*border-right: 2px solid red;*/
			overflow: hidden;
			animation: animate 4s linear forwards  ;
		}

		@keyframes animate
		{
			0%,10%{
				width: 0;
			}
			70%,90%,100%{
				width: 100%;
			}
		}

.name p {
	margin-left: 150px;
}
